# Dependencies
node_modules/
client/vite-project/node_modules/

# Build output
client/vite-project/dist/


# Uploaded/processed files
uploads/
processed/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
