services:
  - type: web
    name: image-resizer
    runtime: python
    buildCommand: |
      pip install -r requirements.txt
      cd client/vite-project && npm install && npm run build && cd ../..
      npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: NODE_VERSION
        value: 20
